body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  user-select: none;
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgb(42, 42, 205),
    rgb(56, 172, 222)
  );
  font-size: large;
}
.game-box {
  text-align: center;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 10%;
  right: 10%;
}
.row {
  padding: 2.5px;
}
.buttons {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-style: dashed;
  border-width: 1px;
  padding: 0px;
  background-color: aquamarine;
  user-select: none;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 250%;
}

.buttons:hover {
  background-color: rgb(50, 230, 50);
}
.restart {
  padding-top: 20px;
  background-color: rgb(0, 243, 243);
  width: 90px;
  height: 20px;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  border-style: dotted;
  user-select: none;
}
.restart:hover {
  background-color: rgb(237, 99, 99);
}
.restart-div {
  padding: 20px;
}
.back {
  display: flex;
  justify-self: left;
  align-items: center;
  padding: 20px;
  background-color: antiquewhite;
  width: 30px;
  border-radius: 90px;
}
img{
  width: 30px;
  height: auto;
}
