body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  background-image: linear-gradient(to left, aquamarine, rgb(11, 70, 50));
  align-items: center;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: center;
  
}
.op {
  background-color: rgb(31, 161, 161);
  padding: 20px;
  border-style: dashed;

  align-items: center;
  align-content: center;
  height: 20px;
  width: 70px;
}
.heading {
  font-size: 250%;
}
